<%- include('partials/header'); -%>

<div class="container-fluid">
    <div class="booking">
        <div class="booking-detail">
            <span class="theater">2D</span>
            <h2>spider-man: far from home</h2>
            <div class="sub">
                <span class="subdetail"><i class="fa fa-map-marker"  aria-hidden="true"></i>Paragon Cineplex</span>
            </div>
            <div class="sub">
                <span class="subdetail"><i class="fa fa-video-camera" aria-hidden="true"></i>Theater 10</span>
                <span class="subdetail"><i class="fa fa-clock-o" aria-hidden="true"></i>12.45</span>
                <span class="subdetail"><i class="fa fa-volume-down" aria-hidden="true"></i>EN/SUB</span>
            </div>
        </div>  
    </div>
    <div class="seat-screen">
        <div class="label">
            <span class="seat"><i class="fa fa-square selected"></i><small>Selected</small></span>
            <span class="seat"><i class="fa fa-square"><small></i>Available</small></span>
            <span class="seat"><i class="fa fa-square occupied"></i><small>Occupied</small></span>
        </div>
        <div class="screen">Screen</div>
        <div class="seats">
            
            <div class="seatrow">
                <span class="rowlb">A</span>
                <span class="seat"><input type="checkbox" id="A1"/><label for="A1" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="A2"/><label for="A2" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="A3"/><label for="A3" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="A4"/><label for="A4" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="A5"/><label for="A5" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="A6"/><label for="A6" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="A7"/><label for="A7" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="A8"/><label for="A8" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="A9"/><label for="A9" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="A10"/><label for="A10" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="A11"/><label for="A11" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="A12"/><label for="A12" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="A13"/><label for="A13" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="A14"/><label for="A14" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="A15"/><label for="A15" class="fa fa-square"></label></span>
                <span class="rowlb">A</span> 
            </div> 

            <div class="seatrow">
                <span class="rowlb">B</span>
                <span class="seat"><input type="checkbox" id="B1"/><label for="B1" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="B2"/><label for="B2" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="B3"/><label for="B3" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="B4"/><label for="B4" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="B5"/><label for="B5" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="B6"/><label for="B6" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="B7"/><label for="B7" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="B8"/><label for="B8" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="B9"/><label for="B9" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="B10"/><label for="B10" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="B11"/><label for="B11" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="B12"/><label for="B12" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="B13"/><label for="B13" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="B14"/><label for="B14" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="B15"/><label for="B15" class="fa fa-square"></label></span>
                <span class="rowlb">B</span>
            </div>

            <div class="seatrow">
                <span class="rowlb">C</span>
                <span class="seat"><input type="checkbox" id="C1"/><label for="C1" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="C2"/><label for="C2" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="C3"/><label for="C3" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="C4"/><label for="C4" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="C5"/><label for="C5" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="C6"/><label for="C6" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="C7"/><label for="C7" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="C8"/><label for="C8" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="C9"/><label for="C9" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="C10"/><label for="C10" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="C11"/><label for="C11" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="C12"/><label for="C12" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="C13"/><label for="C13" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="C14"/><label for="C14" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="C15"/><label for="C15" class="fa fa-square"></label></span>
                <span class="rowlb">C</span>
            </div>

            <div class="seatrow">
                <span class="rowlb">D</span>
                <span class="seat"><input type="checkbox" id="D1"/><label for="D1" class="fa fa-square occupied"></label></span>
                <span class="seat"><input type="checkbox" id="D2"/><label for="D2" class="fa fa-square occupied"></label></span>
                <span class="seat"><input type="checkbox" id="D3"/><label for="D3" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="D4"/><label for="D4" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="D5"/><label for="D5" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="D6"/><label for="D6" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="D7"/><label for="D7" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="D8"/><label for="D8" class="fa fa-square occupied"></label></span>
                <span class="seat"><input type="checkbox" id="D9"/><label for="D9" class="fa fa-square occupied"></label></span>
                <span class="seat"><input type="checkbox" id="D10"/><label for="D10" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="D11"/><label for="D11" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="D12"/><label for="D12" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="D13"/><label for="D13" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="D14"/><label for="D14" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="D15"/><label for="D15" class="fa fa-square"></label></span>
                <span class="rowlb">D</span>
            </div>

            <div class="seatrow">
                <span class="rowlb">E</span>
                <span class="seat"><input type="checkbox" id="E1"/><label for="E1" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="E2"/><label for="E2" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="E3"/><label for="E3" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="E4"/><label for="E4" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="E5"/><label for="E5" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="E6"/><label for="E6" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="E7"/><label for="E7" class="fa fa-square occupied"></label></span>
                <span class="seat"><input type="checkbox" id="E8"/><label for="E8" class="fa fa-square occupied"></label></span>
                <span class="seat"><input type="checkbox" id="E9"/><label for="E9" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="E10"/><label for="E10" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="E11"/><label for="E11" class="fa fa-square occupied"></label></span>
                <span class="seat"><input type="checkbox" id="E12"/><label for="E12" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="E13"/><label for="E13" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="E14"/><label for="E14" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="E15"/><label for="E15" class="fa fa-square"></label></span>
                <span class="rowlb">E</span>
            </div>
            <div class="seatrow">
                <span class="rowlb">F</span>
                <span class="seat"><input type="checkbox" id="F1"/><label for="F1" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="F2"/><label for="F2" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="F3"/><label for="F3" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="F4"/><label for="F4" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="F5"/><label for="F5" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="F6"/><label for="F6" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="F7"/><label for="F7" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="F8"/><label for="F8" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="F9"/><label for="F9" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="F10"/><label for="F10" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="F11"/><label for="F11" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="F12"/><label for="F12" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="F13"/><label for="F13" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="F14"/><label for="F14" class="fa fa-square occupied"></label></span>
                <span class="seat"><input type="checkbox" id="F15"/><label for="F15" class="fa fa-square"></label></span>
                <span class="rowlb">F</span>
            </div>
            <div class="seatrow">
                <span class="rowlb">G</span>
                <span class="seat"><input type="checkbox" id="G1"/><label for="G1" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="G2"/><label for="G2" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="G3"/><label for="G3" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="G4"/><label for="G4" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="G5"/><label for="G5" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="G6"/><label for="G6" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="G7"/><label for="G7" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="G8"/><label for="G8" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="G9"/><label for="G9" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="G10"/><label for="G10" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="G11"/><label for="G11" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="G12"/><label for="G12" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="G13"/><label for="G13" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="G14"/><label for="G14" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="G15"/><label for="G15" class="fa fa-square"></label></span>
                <span class="rowlb">G</span>
            </div>
            <div class="seatrow">
                <span class="rowlb">H</span>
                <span class="seat"><input type="checkbox" id="H1"/><label for="H1" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="H2"/><label for="H2" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="H3"/><label for="H3" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="H4"/><label for="H4" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="H5"/><label for="H5" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="H6"/><label for="H6" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="H7"/><label for="H7" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="H8"/><label for="H8" class="fa fa-square occupied"></label></span>
                <span class="seat"><input type="checkbox" id="H9"/><label for="H9" class="fa fa-square occupied"></label></span>
                <span class="seat"><input type="checkbox" id="H10"/><label for="H10" class="fa fa-square occupied"></label></span>
                <span class="seat"><input type="checkbox" id="H11"/><label for="H11" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="H12"/><label for="H12" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="H13"/><label for="H13" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="H14"/><label for="H14" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="H15"/><label for="H15" class="fa fa-square"></label></span>
                <span class="rowlb">H</span>
            </div>

            <div class="seatrow">
                <span class="rowlb">I</span>
                <span class="seat"><input type="checkbox" id="I1"/><label for="I1" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="I2"/><label for="I2" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="I3"/><label for="I3" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="I4"/><label for="I4" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="I5"/><label for="I5" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="I6"/><label for="I6" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="I7"/><label for="I7" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="I8"/><label for="I8" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="I9"/><label for="I9" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="I10"/><label for="I10" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="I11"/><label for="I11" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="I12"/><label for="I12" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="I13"/><label for="I13" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="I14"/><label for="I14" class="fa fa-square"></label></span>
                <span class="seat"><input type="checkbox" id="I15"/><label for="I15" class="fa fa-square"></label></span>
                <span class="rowlb">I</span>
            </div>
            <div class="row seatcolumn"> 
                <span class="col number">1</span>
                <span class="col number">2</span>
                <span class="col number">3</span>
                <span class="col number">4</span>
                <span class="col number">5</span>
                <span class="col number">6</span>
                <span class="col number">7</span>
                <span class="col number">8</span>
                <span class="col number">9</span>
                <span class="col number">10</span>
                <span class="col number">11</span>
                <span class="col number">12</span>
                <span class="col number">13</span>
                <span class="col number">14</span>
                <span class="col number">15</span>
            </div>
        </div>
    </div>
    <div class="yourseat">
        Seats: <span id="count">0</span>
        Price: <span id="total">0 </span>BAHT
    </div>
    <div class="proceed">
        <a class="back-btn" href="/"><i class="fa fa-chevron-left"></i><span >Back</span></a>
        <a class="next-btn" href="#"><span>Check Out</span></a>
    </div>
    
</div>
