  
<%- include('partials/header'); -%>

<div class="container-fluid">
    <div class="cinema">
        <div class="area">Bangkok: Urban</div>
        <div class="row branch">
            <div class="col">
                <img class="logo" src="https://sv1.picz.in.th/images/2020/04/15/UzVAm9.jpg">
                <div class="b-info">
                    <div class="name">Quartier CineArt</div>
                    <div class="Tel">Tel. 02-2610199</div>
                </div>
            </div>
            <div class="col">
                <img class="logo" src="https://sv1.picz.in.th/images/2020/04/15/Uzv2F8.png">
                <div class="b-info">
                    <div class="name">Paragon Cineplex</div>
                    <div class="Tel">Tel. 0-2129-4635</div>
                </div>
            </div>
        </div>
        <div class="row branch">
            <div class="col">
                <img class="logo" src="https://sv1.picz.in.th/images/2020/04/15/UzvxgW.png">
                <div class="b-info">
                    <div class="name">Major Cineplex Central Rama III</div>
                    <div class="Tel">Tel. 0-2211-2903</div>
                </div>
            </div>
        </div>
        <div class="area">Bangkok: Thonburi</div>
        <div class="row branch">
            <div class="col">
                <img class="logo" src="https://sv1.picz.in.th/images/2020/04/15/UzvxgW.png">
                <div class="b-info">
                    <div class="name">Major Cineplex Central Rama II</div>
                    <div class="Tel">Tel. 0-2415-7711</div>
                </div>
            </div>
            <div class="col">
                <img class="logo" src="https://sv1.picz.in.th/images/2020/04/15/UzvxgW.png">
                <div class="b-info">
                    <div class="name">Major Cineplex Pinklao</div>
                    <div class="Tel">Tel. 0-2435-3750</div>
                </div>
            </div>
        </div>
        <div class="row branch">
            <div class="col">
                <img class="logo" src="https://sv1.picz.in.th/images/2020/04/15/UzIKr9.png">
                <div class="b-info">
                    <div class="name">ICON CINECONIC</div>
                    <div class="Tel">Tel. 02-288-0338</div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<%- include('partials/footer'); -%>
