<%- include('partials/header'); -%>
<div class="container-fluid">
    <div class="movies showtime">
        <ul class="nav">
            <li class="nav-item"><a class="nav-link active" data-target="#today" href="#">Today</a></li>
            <li class="nav-item"><a class="nav-link" data-target="#nextday" href="#">09 Oct</a></li>
            <li class="nav-item"><a class="nav-link" data-target="#nextday1" href="#">10 Oct</a></li>
            <li class="nav-item"><a class="nav-link" data-target="#nextday2" href="#">11 oct</a></li>
        </ul>
        <section class="movies-list">
            <article id="today" class="active">
                <div class="row row-movie">
                    <div class="col-2"><img class="poster" src="https://sv1.picz.in.th/images/2020/04/28/UE6T6Q.jpg" alt="UE6T6Q.jpg"/></div>
                    <div class="col col-movie">
                        <div class="genres">Drama/crime</div>
                        <div class="rightcorner">
                            <span class="lenght">2h 2m</span>
                            <span class="rate">15</span>
                        </div>
                        <div class="title">Joker</div>
                        <div class="plot"><p>Forever alone in a crowd, failed comedian Arthur Fleck seeks connection as he walks the streets of Gotham City. Arthur wears two masks -- the one he paints for his day job as a clown, and the guise he projects in a futile attempt to feel like he's part of the world around him. Isolated, bullied and disregarded by society, Fleck begins a slow descent into madness as he transforms into the criminal mastermind known as the Joker.</p></div>
                        <div class="more-info"><a href="#">More Info<i class="fa fa-chevron-right"></i></a></div>
                        <div class="row sub">
                            <div class="col">
                                <div class="col theater-showtime">
                                    <span class="theater">2D</span>
                                    <span class="time"><a class="disable" href="#">11:00 am</a></span>
                                    <span class="time"><a href="#">03:00 pm</a></span>
                                </div>
                                <div class="col theater-showtime">
                                    <span class="theater">IMAX</span>
                                    <span class="time"><a class="disable" href="#">10:45 am</a></span>
                                    <span class="time"><a class="disable" href="#">01:15 pm</a></span>
                                    <span class="time"><a href="#">05:00 pm</a></span>
                                    <span class="time"><a href="#">08:15 pm</a></span>
                                </div>
                            </div>
                            <div class="col">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-movie">
                    <div class="col-2"><img class="poster" src="https://sv1.picz.in.th/images/2020/05/01/Uluqhg.jpg" alt="parasite.jpg"/></div>
                    <div class="col col-movie">
                        <div class="genres">Thriler/Comedy</div>
                        <div class="rightcorner">
                            <span class="lenght">2h 12m</span>
                            <span class="rate">R</span>
                        </div>
                        <div class="title">Parasite</div>
                        <div class="plot"><p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.</p></div>
                        <div class="more-info"><a href="#">More Info<i class="fa fa-chevron-right"></i></a></div>
                        <div class="row sub">
                            <div class="col">
                                <div class="col theater-showtime">
                                    <span class="theater">2D</span>
                                    <span class="time"><a class="disable" href="#">10:15 am</a></span>
                                    <span class="time"><a class="disable" href="#">01:00 am</a></span>
                                    <span class="time"><a href="#">02:45 pm</a></span>
                                    <span class="time"><a href="#">04:15 pm</a></span>
                                    <span class="time"><a href="#">06:00 pm</a></span>
                                    <span class="time"><a href="#">08:15 pm</a></span>
                                </div>
                            </div>
                            <div class="col">
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article id="nextday">
                <div class="row">
                    
                </div>
            </article>
        </section>
    </div>
</div>

